.trend-campaign,.taking-off,.feature-campaign,.categories{
    text-align: center;
    padding: 10px;
    
}
.trend-text,.taking-off-text,.feature-campaign-text,.category-text{
    font-size: 36px;
}

